@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-page {
  padding: 2px 8px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-page:hover {
  background-color: #0056b3;
}

.button-page:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
